.inspection-link {

}

input.li-actualmaterials,
input.li-vendorprice,
input.li-totalestimated,
input.li-totalexpenses,
input.li-suggestedmaterials,
input.li-suggestedlabor,
input.li-actuallabor {
    width: 25%;
}

input.li-lookup,
input.li-type,
input.li-scheduledstart,
input.li-scheduledend,
input.li-employee {
    width: 50%;
}

.inspection-image {
    max-width:75px;
}

.bar{
/* TODO: This is not targeting ios index.html */
    background-color: #777;
}


html, body{
    max-width: 100%;
    overflow-x: hidden;
}

#content {
    margin-bottom: 50px;
}

.segmented-control .control-item {
    padding: 15px 0;
}

/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 3px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.textarea-fill {
    width: 100%;
    height: 100%;
}

