#titleBar{
    padding-top: 1.5em;
    background-color: #FFFFFF;
    height: 75px;
}

#content {
    padding-top: 75px;
}

.modal .bar-nav{
    padding-top: 1.5em;
    background-color: #FFFFFF;
    height: 75px;
}


.modal .content {
    z-index: -1;
    padding-top: 60px;
}

.margins {

    margin: 20px 15px 20px 15px;
    width: 80%;
    height: 30px;
    transform: translateX(55px);
    font-size: 16pt;
    padding-bottom: 30px;
}

.center {
    position: relative;
    left:45%;
}

#roomInspectionHeader {
    padding-bottom:10px;
    transform:translateX(-30px);
}

.top-padding {
    padding-top:15px;
    
}

.roomInspectionButtons {
    display:flex;
}

#riIcons {
    display:flex;
}

.riIcons {
    margin-right: 5px;
}

#newInspectionContent {
    padding-top: 80px;
}

#addressInput {
    padding: 25px 15px;
}

.content {
    max-width: 100%;
    overflow-x: hidden;
}

.ui-accordion .ui-accordion-content{
    max-width: 100%;
    overflow-x: hidden;
}
