<!-- contact detail modal -->
<div id="contactModal" class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" id="contactModalClose" onclick="$('#contactModal').removeClass('active');"></a>
        <h1 class="title">Contact Details</h1>
    </header>

    <div class="content content-padded" id="contactDetailContent">
        <h3 id="contactName"></h3>
        <ul class="table-view" id="contactFields">

        </ul>

        <h3 id="contactPics">Photos</h3>
        <ul class="table-view contactpics" id="contactPics">

        </ul>

        <button class="takeContactPic">Take Photo</button>

    </div>
</div>
<!-- /contact detail modal -->



<!-- other modals go down here -->